/* @override 
	http://localhost:3000/stylesheets/admin_style.css?1280183621
	http://localhost:3000/stylesheets/admin_style.css
	http://digitalmuni.xendacentral.com/stylesheets/admin_style.css?1282013480
*/

body {
	margin: 0px;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

div#header_content {
	overflow: hidden;
}
div#header_content h1 {
	margin: 0px;
	float: left;
	margin-right: 10px;
}
div#header_content h1 a {
	color: #bbbabc;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
}

#header_content h1 a strong {
	color: #fffeff;
}
div#header {
	background-color: black;	
	padding: 10px;
}

.wrap {
	width: 980px;
	margin: 0px auto;	
}

#container {
	margin-top: 2em;
}

#main section h2 {
	font: bold 26px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -1px;
	border-bottom: 1px dotted #b0b0b0;
	padding-bottom: 10px;
	margin-bottom: 1em;
}

#main section div.message {
	
	padding: 15px 30px;
	background-color: #feff80;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-top: 1px dotted #cbcc68;
	border-bottom: 1px dotted #cbcc68;
	margin-bottom: 2em;
}

#main section div.message a{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #cb6763;
}

table#projects_table {
	font: 12px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}
table#projects_table td,
table#projects_table th 
{
	padding: 9px;
}
table#projects_table td a {
	color: #5b5c5c;
}

table#projects_table thead tr {
	background-color: #3c3d3d;
	border-bottom: 2px solid #141515;
	color: white;
}
#projects_table tbody tr.odd {
	background-color: #faffd1;
}
#projects_table tbody tr:hover,
#projects_table tbody tr.hover {
background-color: #fdff7d;	
}

div#header a {
	color: #a1a1a1;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
}
div#options {
	float: right;
	width: 770px;
	color: #fffeff;
	display: inline-table;
	overflow: hidden;
}

#options ul.menu {
	padding-left: 0px;
	margin: 0px;
	float: left;
	font-family: Arial, Helvetica, Geneva, sans-serif;
/*  width: 500px;*/
}

div#logged_as {
	float: right;
	font-size: 12px;
	padding-top: 10px;
	overflow: hidden;
}

#options ul.menu li {
	float: left;
	margin-left: 10px;	
	list-style: none;
	overflow: hidden;
	height: 30px;
	padding-top: 10px;

}

#options ul.menu li a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 15px;

	color: #fff8f0;
	background-color: #3c3d3d;

}

#options ul.menu li a:hover,
#options ul.menu li a.active {
	color: #905c24;
	background-color: #feb700;	
}

#options ul.menu li a:active {
	color: #86866f;
	background-color: #f1ebd9;	
}

#footer {
	margin-top: 2em;
	padding-top: 2em;
	clear: both;
	color: #909090;
	font-size: 10px;
	border-top: 1px dotted #b0b0b0;
	margin-bottom: 3em;
}

#footer a {
	color: #585858;
}

div#admin label {
	font: bold 16px Arial, Helvetica, Geneva, sans-serif;
}
div#admin input{
	width: 500px;
	padding: 5px;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #8b8d8d;
	border: 1px solid #838383;
}

div#admin textarea {
	border: 1px solid #a1a1a1;
	/*width: 510px;*/
}

fieldset.inputs {
	width: 100%;
}

input.submit.create,
input.submit.update {
  color: #76706e !important; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif !important; 
  background-color: #e8f39c; 
  border: 1px solid !important; 
  border-color: #8f7631 #cc895a #8f7631 #cc895a !important; 
  border-right-color: #cc895a;
  width: 90px !important; 

}
input#project_document {
	margin-top: 10px;
	padding: 10px;
	background-color: #fff0b6;
	border: 1px dotted #fdff69;
	width: 500px;
}

li#project_delivery_date_input fieldset ol,
li#project_sale_date_input fieldset ol {
	float: left;
	padding-left: 245px !important;
}

#project_cusip {
	height: 100px;
	width: 510px;
}

#admin select {
	width: auto;
	font-size: 11px !important;
}

#main actions ul {
	padding: 10px;
	padding-left: 40px;
	padding-top: 20px;
	background-color: #f8ffb3;
}

input.small {
	width: 100px !important;
	
}

#admin div.bottom_menu p {
	margin-top: 3em;
	border-top: 1px dotted #cccfcf;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted #cccfcf;

	padding-left: 2em;
	background-color: #f0f3f3;
}

#admin div.bottom_menu p a {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #edffa1;
	padding: 5px 15px;
	color: #000;
	text-decoration: none;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

#admin div.bottom_menu p a:hover {
	background-color: #f4f819;
}

fieldset.buttons {
	clear: both !important;
	float: none !important;
	margin-top: 10em;
	display: block !important;
	padding-left: 665px !important;
}

#filters {
	margin: 10px 0px;
	margin-top: 0px;
	overflow: auto;
	padding: 0px;
}
#filters li {
	float: left;
	list-style: none;
	margin-right: 0px;	
	overflow: hidden;
}

body.reports #filters li {
	margin-right: 30px;
}

#filters li form {
	font-size: 11px;
}

#filters li form input {
	width: 40px;
	font-size: 11px !important;
	background-color: #3c3d3d;
	color: #fffeff;
	padding: 5px 10px;
	border: none;
}

input#number {
	background-color: #fffeff !important;
	border: 1px solid #888 !important;
	color: #323232 !important;
}

#filters li a {
	color: #383838;
	font-size: 11px;
	padding: 5px;
	display: block;
	overflow: hidden;
}
#filters li a:hover {
	color: #fffeff;
	background-color: #3b3b3b;
}

#main actions ul li {
	margin-bottom: 10px;
}
#main actions ul li a {
	color: #4e4e4e;
}
#main actions ul li a:hover {
	color: black;
}

.pagination div.pagination {
	margin-top: 10px;
	font-size: 12px;
	color: #838383;
}

.pagination .pagination a {
	font-size: 12px !important;	
	color: #313232;
}
.pagination div.pagination a:hover {
	color: black;
}

body.ie6 section.left {
       width:315px;
}

.ie6 #search_keywords_input label {
       margin-right:10px;
}

.ie6 form.formtastic fieldset ol li p.inline-hints { color:#666;
margin:0.5em 0 0 25%; }
.ie6 form.formtastic fieldset ol li { margin-bottom:1.5em; }
.ie6 form.formtastic fieldset ol li label { display:block; width:25%;
float:left; padding-top:.2em; }
.ie6 form.formtastic fieldset ol li.radio fieldset ol li label {
float:none; width:auto; }

form.formtastic fieldset > ol > li.radio fieldset ol li label {
float:none; width:auto; }

.ie6 form.formtastic fieldset ol li { margin-bottom:1.5em; }
.ie6 form.formtastic fieldset ol li label { display:block; width:25%;
float:left; padding-top:.2em; }
.ie6 form.formtastic fieldset ol li p.inline-hints { color:#666;
margin:0.5em 0 0 25%; }

#main ul.actions{
       padding: 20px 10px 10px 40px;
       background-color: #f8ffb3;
       margin:0;
       margin-bottom: 20px;
}
