/* @override 
	http://localhost:3000/stylesheets/admin_style.css?1280183621
	http://localhost:3000/stylesheets/admin_style.css
	http://localhost:3000/stylesheets/main.css
*/

body {
	margin: 0px;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

#header{
	
}
.wrap {
	width: 940px;
	margin: 0px auto;
}
header {
	overflow: hidden;
}

header h1 {
	margin: 0px;
	float: left;
}
#header_content nav.util ul li {
	float: left;
	list-style: none;
	margin-right: 10px;	
}

#header_content nav.util ul.main li a {
	text-decoration: none;
	color: white;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

#header_content nav.util ul.secondary {
	float: right;
	margin-top: 20px;
}

div#search_bar {

}

#header_content nav.util ul li a:hover {
	color: #7dacff;	
}

#header_content nav.util ul li.last {
	margin-right: 0px;
}
#header_content nav.util,
#header_content nav.util ul {
	padding-left: 0px;
	overflow: auto;	
	margin: 0px;
}
header div#header_content.wrap nav.util {
	width: 400px;
	overflow: auto;
	float: right;
}

header div#header_content.wrap nav.util ul.main {
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	background-color: #002e62;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	width: 185px;
	float: right;
}

#header_content h1 a {
	text-indent: -9999px !important;
	font-size: 0px;
}

#header_content h1 a img {
	width: 250px;
	margin-top: 20px;
}

#menu a {
	text-decoration: none;
}
#menu ul.principal {
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 0px;
	overflow: hidden;
	margin: 0px;
	height: 35px;
	border-style: solid;
	color: #90c6e9;
	border-bottom-style: none;
	border-width: 3px;
	background-color: #ccfff6;
	-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
}

nav.util ul.secondary {
	padding-left: 0px;
	font: 11px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	margin-top: 10px;
}
nav.util ul.secondary a {
	text-decoration: none;
}
div#main {
	overflow: auto;
	border-top-style: solid;
	border-top-width: 3px;
	color: #90c6e9;
}

nav.util ul.secondary a {
	color: #818181;
}
#menu ul.principal li,
#menu ul.secondary li {
	float: left;
	list-style: none;	

	height: 100%;
}
#menu ul.principal li.last {
	margin-right: 0px;
}

#menu ul.principal.left li a {
	color: #2856a2;
	font-size: 12px;
	display: block;
	padding: 5px 8px;
	height: 20px;
	padding-top: 10px;
}
#menu ul.principal.left li a:hover {
	color: #be2c17;
	background-color: #b1defc;
}

input#terms {
	width: 400px;
	padding: 5px;
	margin-bottom: 5px;
	border: 2px solid #749fbe;
}


footer .wrap {
	margin-top: 2em;
	padding-top: 2em;
	clear: both;
	color: #909090;
	font-size: 10px;
	border-top: 1px dotted #b0b0b0;
}
footer .wrap ul {
	padding-left: 0px;
	overflow: auto;
	margin: 0px;
}
footer .wrap ul li {
	list-style: none;
	float: left;
	margin-right: 10px;
}
footer a {
	color: #585858;
}
footer a:hover {
	color: black;
}

#main section h2 {
	font: bold 26px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -1px;
	border-bottom: 1px dotted #b0b0b0;
	padding-bottom: 10px;
	margin-bottom: 1em;
	color: #404040;
}


table {
	font: 12px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	color: #4f4f4f;
}

table td,
table th 
{
	padding: 8px 10px;
}
table td a {
	color: #bf2b17;
	font-weight: bold;
}

table thead tr {
	background-color: #ebebeb;
	border-bottom: 2px solid #bdbdbd;
	padding: 0px !important;
}


table tbody tr.odd {
	background-color: #faffd1;
}
table tbody tr:hover {
background-color: #fdff7d;	
}
