/* @override 
	http://digitalmuni.xendacentral.com/stylesheets/main.css?1282866455
	http://localhost:3000/stylesheets/main.css
*/

body {
	margin: 0px;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}

/*body {text-align:center;}
*/
body .wrap * {
 /*      text-align:left;*/
}
       
       #header_content {
              position:relative;
              height:90px;
       }

       .hide {
              display:none;
              visibility:hidden;
       }

       #header_content h1 a {
              display:block;
              width:auto;
              height:auto;
       }

.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}



#main span.message {
	padding: 15px 30px;
	background-color: #feff80;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-top: 1px dotted #cbcc68;
	border-bottom: 1px dotted #cbcc68;
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
	color: #484848;
}

#header{
	
}
.wrap {
	width: 940px;
	margin: 0px auto;
}
header {
	overflow: hidden;
}

header h1 {
  margin: 0px;
  position:absolute;
  left:0;
  top:20px;
}
#header_content nav.util ul li {
	float: left;
	list-style: none;
	margin-right: 10px;	
}

#header_content nav.util ul.main li a {
	text-decoration: none;
	color: white;
	font: 11px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

#header_content nav.util ul.secondary {
/*  float: right;
  margin-top: 15px;*/
  
  bottom:0;
  margin-top:15px;
  position:absolute;
  right:0;
}

.registrations.edit #main section p {
	color: #597b93;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	margin-bottom: 20px;
}

#main section h3 {
	font: bold 20px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -1px;
	padding-bottom: 0px;
	margin-bottom: 0em;
	color: #404040;
	text-transform: capitalize;
}

.registrations fieldset {
	border: none;	
	margin-bottom: 20px;
	border-bottom: 1px dotted #b0b0b0;
}

fieldset#additional {
	border: none;	
}

.pages #main section p,
.downloads #main section#disclaimer p {
	color: #404040;
	font-size: 12px;
	width: 600px;
	line-height: 1.6em;
}

.downloads section#description h3 {
	font-size: 18px !important;
	letter-spacing: 0;
	color: #005bba;
}

#disclaimer label {
	font-weight: bold;
	color: #454545;
}

#disclaimer p {
	margin-bottom: 20px;
	margin-top: 0px;
}

#disclaimer strong {
	color: #404040;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#disclaimer em {
	color: #818181;
	font: 12px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

section#disclaimer.left {
	width: 200px;
}

section#document.left {
	margin-left: 40px;
	margin-top: 20px;
	text-align: center;
	width: 400px;
}

section#document.left a {
	font-weight: bold;
	color: #404040;
	font-size: 22px;
	text-decoration: none;
}
section#document.left .pdf_preview {
	width: 300px;
	height: 400px;
	background-color: #bcebe4;	
	margin: 10px auto;
}

#new_download fieldset {
	border: none;	
	padding: 0;
}

#new_download fieldset ol {
	padding-left: 0;
}
#new_download fieldset ol li {
	
}
#new_download fieldset ol li.hidden ,
#new_download fieldset ol li.hidden {
	display: none;
}
.downloads section#description p {
	margin: 0px;
	color: #727373;
}

#main section p a {
	color: #585858;
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
}

div#search_bar {
  height:28px;
  margin-top:-2px;
  width: 485px;
  overflow: hidden;
}

#main section form.formtastic.search fieldset.inputs {
	display: block;
	padding: 10px 5px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ca5242;
}

#main section form.formtastic.search fieldset.inputs legend span {
	font-weight: bold;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #ca5242;
}

#search_results_type_input fieldset ol li {
	float: left;
	margin-right: 20px;
}

#search_results_type_input fieldset ol {
	width: 400px;
	padding: 0px;
}

#main section form.formtastic.search fieldset.buttons {
	padding-left: 0px;
}

#main section form.formtastic.search label {
	color: #494949;
	font-size: 12px;
}

#search_keywords_input label {
	width: 70px;
}

#search_keywords_input p.inline-hints {
	font-size: 11px;
	font-style: italic;
	color: #8a8a8a;
}

#search_search_type_input fieldset ol li {
	float: left;
	margin-right: 10px;
}

#search_search_type_input fieldset ol {
	width: 600px;
	padding-left: 80px;
}

#search_bar form {
	display: inline;
}

#search_bar a {
	margin-left: 5px;
	color: #fffeff;
	font: 11px Arial, Helvetica, Geneva, sans-serif;
	text-decoration: underline !important;
}

#header_content nav.util ul li a:hover {
	color: #7dacff;	
}

#header_content nav.util ul li.last {
	margin-right: 0px;
}
#header_content nav.util,
#header_content nav.util ul {
	padding-left: 0px;
	overflow: auto;	
	margin: 0px;
}
header div#header_content.wrap nav.util {
  float:right;
  height:56px;
  overflow:auto;
  position:relative;
  width:500px;
}

#header_content nav.util span {
	margin-top: 8px;
	display: block;
	float: left;
	margin-left:40px;
	font: normal 11px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #5e5f5f;
}

header div#header_content.wrap nav.util ul.main {
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	background-color: #5e5f5f;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	width: auto;
	float: right;
}

#header_content h1 a,
#header_content h1 a:active,
#header_content h1 a:visited {
/*  text-indent: -9999px !important;
  font-size: 0px;
  text-decoration: none !important;
  border: none !important;
  overflow: auto;
*/
border: none !important;
overflow: auto;	
}

#header_content h1 a img {
/*  width: 250px;
  margin-top: 20px;
  text-decoration: none;
  border: none;
  height: 70px;*/
  width: 250px;
    border: none;
    height: 70px;
}

#menu a {
	text-decoration: none;
}
#menu ul.principal {
/*  padding-left: 10px;
  padding-right: 15px;
  padding-top: 0px;
  overflow: hidden;
  margin: 0px;
  height: 30px;
  /*border-style: solid;*/
  color: #90c6e9;
  /*border-bottom-style: none;
  border-width: 3px;*/
  /*background-color: #ccfff6;
  -moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;*/

color:#90C6E9;
height:30px;
margin:0 15px 0 0;
overflow:hidden;
padding:0;

}

nav.util ul.secondary {
	padding-left: 0px;
	font: 11px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	margin-top: 10px;
}
nav.util ul.secondary a {
	text-decoration: none;
}
div#main {
/*  overflow: hidden;*/
	/*border-top-style: solid;
	border-top-width: 3px;*/
	color: #90c6e9;
	height: auto;
	padding-bottom: 80px;
}

nav.util ul.secondary a {
	color: #818181;
	font-size: 10px;
}
#menu ul.principal li,
#menu ul.secondary li {
/*  float: left;
  list-style: none; 

  height: 100%;*/
  float:left;
  height:100%;
  list-style:none outside none;
}
#menu ul.principal li.last {
	margin-right: 0px;
}

#menu ul.principal.left li a {
/*  color: white;
  font-size: 12px;
  display: block;
  padding: 0px 15px;
  height: 100%;
  padding-top: 7px;
  font-weight: bold;*/
  color:white;
  display:block;
  float:left;
  font-size:12px;
  font-weight:bold;
  height:auto;
  padding:7px 15px;
}
#menu ul.principal.left li a:hover {
	color: #be2c17;
	background-color: #fbffff;
}

input#terms {
	width: 350px;
	padding: 5px;
	margin-top: 5px;
	border: none;
	font-size: 10px;
	/*border: 2px solid #749fbe;*/
}


footer .wrap {
	margin-top: 0em;
	padding-top: 2em;
	clear: both;
	color: white;
	overflow: auto;
	font-size: 10px;
	/*border-top: 1px dotted white;*/
}
footer .wrap ul {
	padding-left: 0px;
	overflow: auto;
	margin: 0px;
	display: inline;
}
footer .wrap ul li {
	list-style: none;
	float: left;
	margin-right: 10px;
}
footer .opt {
	display: inline;
	float: left;
	margin-right: 10px;
	color: #d5d5d5;
}
footer a {
	color: white;
	font-size: 11px;
}
footer a:hover {
	color: black;
}

#main section h2 {
	font: bold 26px Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: -1px;
	border-bottom: 1px dotted #b0b0b0;
	padding-bottom: 10px;
	margin-bottom: 1em;
	margin-top: 1.1em;
	color: #ca5242;
}


table {
	font: 12px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	color: #4f4f4f;
}

table td,
table th 
{
	padding: 8px 10px;
}
table td a {
	color: #2e6fb4;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

table td a:hover {
	color: #4684ab;
}
table thead tr {
	background-color: #5e5f5f;
	border-bottom: 2px solid #4d4e4e;
	border-top: 2px solid #4d4e4e;	
	padding: 0px !important;
	color: white;
}


table tbody tr.odd {
	background-color: #d6e5ff;
}
table tbody tr:hover {
background-color: #fdff7d;	
}

table tbody tr td {
	height: 30px !important;
}

.tdtip {
margin: 100px auto;
padding: 0px;
width: 100px;
height: auto;
position: relative;
vertical-align: middle !important;
}

#main section table tbody tr td.tdtip a.tip {
	display: block;
	vertical-align: middle !important;
	margin-top: 15px;
	width: 60px;
}
 
.tdtip .top {
background: #fffeff url(bubble.png) no-repeat;
width: 200px;
/*height: 210px;*/
height: auto;
position: absolute;
top: -105px;
left:-215px;
z-index: 2;
display: none;
	border: 2px solid #90c6e9;
}


.tdtip .top ul {
	padding-left: 0px;
	margin-top: 5px;
}

.tdtip .top ul li {
	list-style: none;
	text-align: left;
	font-size: 11px;
	margin-bottom: 5px;
	padding-bottom: 5px;

}
.tdtip .top ul li  strong {
	display: block;
}
.tdtip .top ul li .content {
	padding-left: 10px;
	border-bottom: 1px dotted #bfbfbf;
	padding-bottom: 3px;
}
#main section table tbody tr td.tdtip div.top h3 {
	margin: 0;
	padding: 5px;
	background-color: #ccfff6;
}
.tdtip .top em{
	color: black;
}
 
.tdtip {
margin: 0 auto;
display: block;
}


.sessions #main section form p label,
.passwords #main section form p label,
.registrations #main section form p label,
#main section p,
a  {
	color: #404040;
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	font-size: 16px;
}

a {
	
}

.sessions #main section form p input,
.passwords #main section form p input,
.registrations #main section form p input {
	padding: 5px;
	width: 300px;
}

input#user_remember_me {
	width: 20px !important;
}

input#search_submit.submit {
	padding: 5px;
	margin: 0px;
}

span#share_content_parent.mceEditor.defaultSkin {
	float: left;
	clear: both;
}

#pagination div.pagination {
	margin-top: 10px;
	font-size: 12px;
	color: #838383;
}

#pagination div.pagination a {
	font-size: 12px;	
}
#pagination div.pagination a:hover {
	color: black;
}
input#user_submit,
input#admin_submit,
input#share_submit,
input#search_submit,
.button a {
	
  color: #fff5f2; 
  font: bold 84% 'trebuchet ms',helvetica,sans-serif !important; 
  background-color: #ca5242; 
  border: 1px solid !important; 
  border-color: #8f7631 #cc895a #8f7631 #cc895a !important; 
  border-right-color: #cc895a;
  width: 90px !important; 
	margin-left: 225px;
}

.button a  {
	margin: 0px;
	margin-top: 50px;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	width: 60px !important ;
	text-align: center;
}

#sharing label {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

li.string input,
li.text textarea {
	border: 1px solid #b3b3b3;
	padding: 5px !important;
	color: #585858;
	font: 12px Arial, Helvetica, Geneva, sans-serif !important;
	width: 470px;
}



#new_share fieldset.buttons {
	clear: both !important;
	display: block;
	padding: 0px;
}

#share_submit {
	padding: 5px;
	margin-left: 235px !important;
}
#main section nav.navigation {
	overflow: auto;
	padding-top: 1em;
	border-top: 1px dotted #b0b0b0;
	margin-top: 2em;
}
#main section nav.navigation a {
	float: left;
	display: block;
	width: auto;
	margin-right: 20px;
	color: #182862;
	padding-bottom: 2px;
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
	text-decoration: none;
	text-transform: lowercase;
	border-bottom: 1px dotted #bbafba;
}

nav#menu {
	overflow: auto;
	clear: both;
	border-top-style: solid;
	border-top-color: #ac4537;
	border-bottom-style: solid;
	border-bottom-color: #ac4537;
	background-color: #ca5242;
	display: block;
}

#main section table tbody tr.even td p {
	margin: 0px;
}

footer {
	overflow: auto;
	width: 100%;
	color: white !important;
	background-color: #5e5f5f;
	padding-bottom: 2em;
	bottom: 0px;
	border-top: 2px solid #494949;
	clear: both;
	margin-top: 4.5em;
	display: block;
}

footer {left:0;}

#disclaimer div.button a {
	
}


input#admin_remember_me {
	width: 20px !Important;	
}

#menu div.wrap {
       height: 30px;
       overflow:hidden;
	/*background-color: rgba(190,42,22,0.81);*/
	padding: 5px 15px 5px 10px;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;

}

#new_download fieldset.buttons {
	clear: both;
	display: block;
	margin-top: 10px;
}

div#filters.right {
	color: #4d4e4e;
	font-size: 11px;
	margin-bottom: 5px;
}
body.registrations #main div.right h3 {
	margin-top: 60px;
	margin-bottom: 0px;
	color: #ca5242;
	font: normal 25px Arial, Helvetica, Geneva, sans-serif;
}
body.registrations #main div.right p {
	margin-top: 5px;
	color: #2a2b2b;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
	padding: 5px;
	background-color: #e9e7ea;
}

#filters form {
	display: inline;
	margin-left: 20px;
}