#top
  %p
    Somos lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare augue ac velit aliquet pretium. Quisque id lacus sem, a iaculis nisl. Praesent et quam id quam adipiscing auctor dignissim non neque. Maecenas malesuada scelerisque quam sed vulputate. Mauris ante arcu, sagittis at pharetra in, blandit in mauris.
    %a{:href => "#"}
      %strong Sobre nosotros
#projects
  %h1 Proyectos
  .place
    %select
      %option Todos
      %option Jesús María
      %option Miraflores
      %option San Borja
      %option Santiago de Surco

    = render :partial => "project", :collection => @projects
    / 
/ /projects