- @title = "Nuevo proyecto"

#admin
  %section
    %h2 Registrando proyecto
    .message
      %strong= "Use el formulario para registrar información del nuevo proyecto"

  = render :partial => 'form'

  .bottom_menu
    %p= text_button_tag("Ver todos",admin_projects_path)
