#slider
  - Slide.all.each do |slide|
    = image_tag slide.image.url, :size => "893x218"
  / %img{:height => "218", :src => "/images/slider/img1.jpg", :width => "893"}/
  / %img{:height => "218", :src => "/images/slider/img2.jpg", :width => "893"}/
  / %img{:height => "218", :src => "/images/slider/img3.jpg", :width => "893"}/
%h1= @page.title
#main-col
  = simple_format @page.content
  
/ /main-col
#side-col
  %p
    %strong Inmobiliaria Juan Fanning SAC
    %br/
    Malecon Garcia Ribeyro Nro. 288
    %br/
    Rimac - Lima
    %br/
    Teléfono 422-1870 | 99823*1961 | 99834*1246
    %br/
    Email
    %a{:href => "mailto:contacto@juanfanning.com"} contacto@juanfanning.com
/ /side-col