%h3= "Editing user #{@user.email}"
- semantic_form_for ["admin",@user] do |form|
  - form.inputs do
    = form.input :name
    
  - form.buttons do
    = form.commit_button 'Save',:button_html => { :class => "submit" }